!!!
%html
  %head
    %meta{:charset => "utf-8"}
      %title Sample Deployment
      :css
        body {
          color: #ffffff;
          background-color: #007f30;
          font-family: Arial, sans-serif;
          font-size: 14px;
        }
        
        h1 {
          font-size: 500%;
          font-weight: normal;
          margin-bottom: 0;
        }
        
        h2 {
          font-size: 200%;
          font-weight: normal;
          margin-bottom: 0;
        }
    %body
    %div{:align => "center"}
      %h1 Congratulations!
      %h2 Your code has been successfully deployed through AWS CodePipeline(source GitHub).
      %p
        For next steps, read the
        = succeed "." do
          %a{:href => "http://docs.aws.amazon.com/codepipeline/latest/userguide/welcome.html"} AWS CodePipeline Documentation
